
*{
	margin: 0px;
	font-family:serif;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	
	}
	
.encabezado{
		display: inline-flex;
		height: 75px;
		align-items: center;
		width: 100%;
		border: solid 1px;
	}
	
	
.menu{
		width: 100%;
		display: inline-flex;
		justify-content: flex-end;
	}
	
	
.logo{
		margin: 0;
		padding: 0;
		object-fit: cover;
		width: 200px;
		height: 69px;
		background-position: center;
		
		
	}

.opciones{
		margin: 5px 0px;
		padding: 10px;
		color: black;
		text-decoration: none;
		border-left: 2px solid;
		border-right: 1px solid ;
	}
	
.banner{
	display:block;
		width: auto;
		height: 400px;
		background-image: url("https://i0.wp.com/ideasenladucha.com/storage/2023/11/Reviviendo-la-joyeria-artesanal-Descubre-joyas-unicas-con-Realidad-Aumentada-e-Inteligencia-Artificial.png?fit=1792%2C1024&ssl=1");
		background-size: cover;
		background-position: center;
			
	}

h1{
	font-size: 25px;
	background-clip: content-box;
	text-align: center;
	padding-top: 80px ;
	font-family: sans-serif;
	margin-top: 5px;
	padding-top: 5px;
		

}
article{
	border: solid;
	width: 100%;
}
h2{
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	
}

.nosotros, p {
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	margin-bottom: 20px;
}

.productos{
	display: inline-flexbox;
	width: 100%;
	height: 350px;
	border: solid;
	


}
.collar{
		width:300px;
		height: 300px;
		justify-content: left;
		
		margin: 0;
		padding: 0;

		
}



	
	
